<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Crear nuevo producto</h1>
    <form id="formProduct" class="shadow">
      <label for="title">Title</label>
      <input type="text" name="title" required />
      <label for="description">Description</label>
      <input type="text" name="description" required />
      <label for="category">Category</label>
      <input type="text" name="category" required />
      <label for="price">Price</label>
      <input type="number" name="price" required />
      <label for="stock">Stock</label>
      <input type="number" name="stock" required />
      <label for="code">Code</label>
      <input type="text" name="code" required />
      <label for="status">Status</label>
      <input type="string" name="status" required />
      <button type="submit">Crear Producto</button>
    </form>
    {{! <div class="table-responsive mt-5 ">
  <table id="productTable" class="table table-striped">
      <tr class="table-dark">

        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Code</th>

      </tr>
    <tbody>
    </tbody>
  </table>
  </div> }}
    <button id="showProducts" class="btn btn-dark">Ver productos</button>
    <div id="productsDiv" class="container card-group"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>