body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

#cart-ID {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  padding: 0 20px;
}

#sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.sidebar .form-label {
  font-weight: bold;
}

.sidebar .form-select, 
.sidebar .btn {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative; /* Required for positioning feedback message */
  flex: 1; /* Makes the card body take up the available space */
}

.card-body img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  text-align: center;
  flex-grow: 1; /* Pushes the addToCartBtn to the bottom */
}

.addToCartBtn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* For positioning the feedback message */
  margin-top: auto; /* Pushes the button to the bottom */
}

.addToCartBtn:hover {
  background-color: #218838;
}

.feedback-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745; /* Green color */
  color: white;
  padding: 12px 50px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.875rem;
  display: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.feedback-message.show {
  display: block;
  opacity: 1;
}
