<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/static/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/realTimeProducts">Real-Time Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/register">Register</a>
          </li>
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/api/sessions/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/cart">
              <i class="bi bi-cart4"></i> <!-- Ensure this line is correctly displaying the cart icon -->
            </a>
          </li>
        </ul>

      </div>

    </div>

  </nav>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>
